* {
  margin: 0px;
  padding: 0px
}

body {
  width: 100%;
  height: 590px;
  background-color: #000000;
}

table {
  padding-top: 100px;
  width: 100%;
}

div {
  width: 100px;
  height: 50px;	
  background-color: #ffffff;
}